<div class="styx__error" style="display: block; z-index: 1; position: relative; top: 1%; left: 1%; border: 2px solid black; font-size: 1.3rem; padding: .3rem .5rem; width: fit-content; margin-bottom: .5rem; background-color: #ff8c8c">
    Exception occured at {$file}:{$line}: {$message}
</div>